.logo-text{
    font-family: Nabla;
}

.head-title{
    margin-top: 25px;
    font-family: Noto Sans Japanese;
    color: #FBEAEB ;
    background-color: #2F3C7E;
}
.nav-link{
    color: #FBEAEB ;
}

.nav-item a{
    color: #FBEAEB;
}

.container-fluid .navbar-brand{
    color: #FBEAEB;
}

.navbar{
    font-family: Noto Sans Japanese;
    color: #FBEAEB ;
    background-color: #2F3C7E;
}

.container{
margin-bottom: 50px;
}

.img-text{
padding-top: 175px;
text-align: center;
}

.form-label{
    width: 100%;
}

.editMenu{
    width: 100%;
    display: flex;
}
.edit{
    background-color: black;
    width: 50%;
    height: 500px;
    text-align: center;
    margin: 10px 0 10px 0 ;
}
.editform{
    width: 50%;
}

.formOption{
    width: 100%;
}

.image-text{
 color: white;   
 font-size: 30px;
 font-family: Aref Ruqaa Ink;
 font-weight: 500;
 
}
.author-text{
    text-align: end;
    margin-right: 50px;
    /* margin-top: 350px; */
}

.author{
 color: white;   
 font-size: 23px;
 font-family: Aref Ruqaa Ink;
 font-weight: 500;
}

.author-tag{
 color: white;   
 font-size: 15px;
 font-family: Aref Ruqaa Ink;
 font-weight: 500;
}
.form-label{
    margin: 10px 100px;
    margin-bottom: .5rem;
    font-family: Racing Sans One;
}

.form-control{
    display: block;
    margin: 11px 100px;
    width: 50%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-select{
    display: block;
    margin: 0 100px;
    width: 100%;
    padding: .375rem 2.25rem .375rem .75rem;
    -moz-padding-start: calc(0.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: .375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn-download{
    margin-left: 100px;
    margin-top: 50px;
}
.btn-text{
    font-family: Racing Sans One;
}
.card-header:first-child{
    font-size: 30px;
    background-color: rgb(16, 24, 32);
    color: rgb(254, 231, 21);
    font-family: Bungee Inline;
}
.card-body{
    background-color: rgb(251, 234, 235);
}
.card-title{
    color: rgb(47, 60, 126);
    font-family: Caudex;
    font-size: 25px;
}
.card-text{
    color: rgb(47, 60, 126);
    font-family: Josefin Slab;
    font-size: 20px;
}
.text-center{
    margin-top: 50px;
}
@media only screen and (max-width: 600px) {
    .editMenu{
        width: 100%;
        display: block;
    }

    .edit{
        background-color: black;
        width: 100%;
        height: 500px;
        text-align: center;
        margin: 10px 0 10px 0 ;
    }
  }